.teamlist-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.teams-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(120, 181, 227, 0.616);
    margin: 1em;
    padding: 1em;
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

.team-item {
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.team-logo {
    width: 75%;
}
